/* Logo and Header */
#head {
  display: flex;
  justify-content: center;
  height: 25vh;
  align-items: center;
  width: 100vw;
}

#logo {
  aspect-ratio: 1 / 1;
  width: 20vh;
  height: auto;
  max-width: 20vh;
  max-height: 20vh;
  justify-self: center;
}

@media (max-width: 768px) {
  #logo {
    aspect-ratio: 1 / 1;
    width: 5vh;
    height: auto;
    max-width: 5vh;
    max-height: 5vh;
    justify-self: center;
  }
}

#title {
  display: flex;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Updated CSS for the route */
:root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  align-items: center; 
  justify-content: center;
}

/* Heading */
.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* User Control and Clinic Dash */
.dash {
  margin: auto;
  height: auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  flex-wrap: wrap;
  align-content: center;
}

.dash-top {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
  align-items: center; 
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.user_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.clinic_dash h2 {
  text-align: left;
  font-size: 1.5rem;
  padding: 1vw;
  width: 30%;
  height: 100%;
  background-color: #1AA18F;
  color: white;
  border-radius: 10px 100px / 120px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* User Information and Logout */
.user {
  text-align: center;
  width: 20vw;
  text-transform: uppercase; 
  color: #1AA18F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: auto;
}

.logout {
  width: 100%;
  height: auto;
  color: black;
  background-color: transparent;
  text-align: center;
  border-radius: 10px 100px / 120px 100px;
}

.logout:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgb(255, 0, 0);
}

/* Clinic Info, Providers, and Patients */
.clinic-info {
  text-align: left;
}

.clinic_patient_dash,
.clinic_provider_dash,
.clinic_dash {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding: 20px;
  width: 70vw;
  height: auto;
  margin: 20px auto; 
}

/* Additional styles for header h2 elements inside the components */
.clinic_patient_dash h2,
.clinic_provider_dash h2,
.clinic_dash h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1vw;
  width: 50%;
  background-color: #1AA18F;
  color: white;
  border-radius: 10px 100px / 120px 100px;
  margin: 3vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Additional styles for content inside the components */
.clinic_dash div,
.clinic_patient_dash div,
.clinic_provider_dash div {
  padding: 20px;
}

/* List items in the patient and provider sections */
.clinic_patient_dash ul,
.clinic_provider_dash ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Individual list items in the patient and provider sections */
.clinic_patient_dash ul li,
.clinic_provider_dash ul li {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for the expanded content */
.providers ,
.patients  {
  max-height: 30vh; 
  transition: max-height 1s; 
}

.patients {
  margin-bottom: 10vh;
}

.clinic_provider_dash table,
.clinic_patient_dash table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: separate; 
  border-spacing: 10px;
  margin: 20px auto;
}

/* Styles for the table headers (th) */
.clinic_provider_dash th,
.clinic_patient_dash th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Styles for the table body (tbody) */
.clinic_provider_dash tbody,
.clinic_patient_dash tbody {
  max-height: 15vh; 
  overflow: auto; 
  display: block;
  transition: max-height 0.3s;
}

/* Styles for the individual table rows (tr) */
.clinic_provider_dash tr,
.clinic_patient_dash tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles for the table data cells (td) */
.clinic_provider_dash td,
.clinic_patient_dash td {
  text-align: center; 
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Styles for the table columns */
.clinic_provider_dash th:nth-child(1), 
.clinic_provider_dash th:nth-child(2), 
.clinic_provider_dash td:nth-child(1), 
.clinic_provider_dash td:nth-child(2),
.clinic_patient_dash th:nth-child(1), 
.clinic_patient_dash th:nth-child(2), 
.clinic_patient_dash td:nth-child(1), 
.clinic_patient_dash td:nth-child(2) { 
  text-align: left;
}

/* Styles for the table headers */
.clinic_provider_dash th,
.clinic_patient_dash th {
  border-bottom: 2px solid black;
}

/* Button Styles */
.buttons {
  display: flex;
  flex-direction: column;
}

.homebutton {
  background-color: #1AA18F;
  color: #fff;
  width: 20%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 0.7rem auto;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.homebutton:hover {
  background-color: #fff;
  color: #1AA1AF;
}

@media (max-width: 768px) {
  .homebutton {
    font-size: 2rem;
  }
}