/* Logo and Header */
#head {
  display: flex;
  justify-content: center;
  height: 25vh;
  align-items: center;
  width: 100vw;
}

#logo {
  aspect-ratio: 1 / 1;
  width: 20vh;
  height: auto;
  max-width: 20vh;
  max-height: 20vh;
  justify-self: center;
}

@media (max-width: 768px) {
  #logo {
      aspect-ratio: 1 / 1;
      width: 5vh;
      height: auto;
      max-width: 5vh;
      max-height: 5vh;
      justify-self: center;
  }
}


#title {
  display: flex;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Updated CSS for the route */
:root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3; /* Light gray background */
  font-family: 'Roboto', sans-serif;
}

/* Heading */
.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  border-radius: 10px 100px / 120px 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Form Elements */
.form input {
  display: block;
  text-align: center;
  width: 70%;
  height: auto;
  margin: 1rem auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-style: black;
  font-size: 1rem;
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.341);
}

/* Form Button */
.form button {
  background-color: #1AA18F;
  color: #fff;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.form button:hover {
  background-color: #fff;
  color: #1AA1AF;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.homebutton {
  background-color: #1AA18F;
  color: #fff;
  width: 20%;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 2px solid black;
  border-radius: 10px 100px / 120px 100px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: .7rem auto;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.homebutton:hover {
  background-color: #fff;
  color: #1AA1AF;
}


@media (max-width: 768px) {
  .homebutton {
    font-size: 2rem;
  }
}



.dash {
  margin: auto;
  height: auto;
  width: 60vw;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 10vh;

  color: black;

}


.logout {
  margin-left: 50vw;
  margin-right: 10vw;
  width: 30%;
  height: 5vh;
  color: black;
  background-color: transparent;
  text-align: center;
  border-radius: 10px 100px / 120px 100px;

}

.logout:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgb(255, 0, 0);
}